{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
          .btn-2 {
          background: rgb(96,9,240);
          background: linear-gradient(0deg, rgb(13, 240, 9)0%, rgb(5, 240, 115) 100%);
          border: none;
          
        }
        .btn-2:before {
          height: 0%;
          width: 2px;
        }
        .btn-2:hover {
          box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                      -4px -4px 6px 0 rgba(116, 125, 136, .5), 
            inset -4px -4px 6px 0 rgba(255,255,255,.2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        }
        


        #video {
            /* border: 1px solid black; */
            box-shadow: 2px 2px 3px black;
            width: 100%;
            max-width: 500px;
        }

        #photo {
            /* border: 1px solid black; */
            box-shadow: 2px 2px 3px black;
            width: 100%;
            max-width: 500px;
        }

        #canvas {
            display: none;
        }

        .camera {
            width: 100%;
            display: inline-block;
            text-align: center;
        }

        #startbutton {
            display: block;
            margin: 20px auto;
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>

<div class="contact-section section-padding" id="section_5" style="background-color: #57ba98;">
    <div style="max-width: auto; margin: auto;">
        <div class="container-fluid">
    <div class="row">
        <!-- Column 1 -->
        <div class="col-lg-6">
            <div class=" py-5 text-center">
                <div class="col-lg-10 ms-lg-3">
                    <div class="contentarea">
                        <div class="Input">
                            <form method="POST" name="inputForm" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <button id="toggleCamera" type="button" class="btn btn-warning mb-2">Toggle Camera</button>
                                <div class="camera">
                                    
                                    <video id="video">Video stream not available.</video>
                                    <button id="startbutton" type="button" class="custom-btn btn-2">Take photo</button>
                                    <input id="webimg" value="" name="src" type="text" style="display: none;">
                                    <canvas id="canvas"></canvas>
                                </div>
                                <button type="submit" class="button custom-btn btn-2" id="submit">Classify</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-lg-6" style="align-self: center;">
          <div class="py-5" style="text-align: -webkit-center;">
            
            <div class="col-lg-10 ms-lg-3">
              <button type="button" class="btn btn-warning mb-2" style="opacity: 0;">Toggle Camera</button>
              <div>
                  <img id="photo" alt="Your image">
            </div>
            <br>
            </div>
            <div class="team-block-wrap" style="background-color: rgba(0, 0, 0, 0); height: 270px; border-radius: 0%;">  
              <table class="table team-block-info">
                      <thead>
                        <tr>
                          <th scope="col" class="text-light">Labels</th>
                          <th scope="col" class="text-light">Output</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        <th scope="row" class="text-light">Prediction: </th>
                        {% if probability >= 0.60 %}
                        <td colspan="2" class="text-light">{{prediction}}</td>
                        {% elif probability >= 0.30 %}
                        <td colspan="2" class="text-light">Probable {{prediction}}</td>
                        {% elif probability %}
                        <td colspan="2" class="text-light">Unknown</td>
                        {% else %}
                        <td colspan="2"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row" class="text-light">Probability: </th>
                        <td colspan="2" class="text-light">
                            {% for class_name, probability in class_probabilities.items %}
                                {{ class_name }}: {{ probability }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                    {% if prediction %}
                    <tr>
                      <th colspan="3" scope="row" class="text-light text-center">
                        <form method="get" action="{% url 'search' %}" autocomplete="off">
                          <input name="query" type="text" placeholder="Find Your Herb {{ prediction }}" value="{{ prediction }}" style="display: none;">
                          <button type="submit" class="btn btn-outline-success">See More </button>
                        </form>
                      </th>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
            <div class="status">
                <h3 id="message">{{ message }}</h3>
            </div>
            </div>  
        </div>
        </div>
    </div>
</div>

    </div>
</div>
<script>
    (function () {
        var width = 500; // Set the desired width for the camera video
        var height = 0; // Height will be calculated based on the aspect ratio

        var streaming = false;
        var video = null;
        var canvas = null;
        var photo = null;
        var formsrc = null;
        var startbutton = null;
        var toggleButton = document.getElementById('toggleCamera');

        function startup() {
            video = document.getElementById('video');
            canvas = document.getElementById('canvas');
            photo = document.getElementById('photo');
            formsrc = document.getElementById('webimg');
            startbutton = document.getElementById('startbutton');

            navigator.mediaDevices.getUserMedia({ video: true, audio: false })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (err) {
                    console.log("An error occurred: " + err);
                });

            video.addEventListener('canplay', function (ev) {
                if (!streaming) {
                    height = video.videoHeight / (video.videoWidth / width);
                    if (isNaN(height)) {
                        height = width / (4 / 3);
                    }
                    video.setAttribute('width', width);
                    video.setAttribute('height', height);
                    canvas.setAttribute('width', width);
                    canvas.setAttribute('height', height);
                    streaming = true;
                }
            }, false);

            startbutton.addEventListener('click', function (ev) {
                takepicture();
                ev.preventDefault();
            }, false);

            toggleButton.addEventListener('click', function () {
                toggleCamera();
            });

            clearphoto();
        }

        function clearphoto() {
            var context = canvas.getContext('2d');
            context.fillStyle = "#AAA";
            context.fillRect(0, 0, canvas.width, canvas.height);
            var data = canvas.toDataURL('image/png');
            photo.setAttribute('src', data);
        }

        function takepicture() {
            var context = canvas.getContext('2d');
            if (width && height) {
                canvas.width = width;
                canvas.height = height;
                context.drawImage(video, 0, 0, width, height);
                var data = canvas.toDataURL('image/png');
                photo.setAttribute('src', data);
                formsrc.setAttribute('value', data);
            } else {
                clearphoto();
            }
        }

        function toggleCamera() {
            var tracks = video.srcObject.getTracks();
            tracks.forEach(track => track.enabled = !track.enabled);
        }

        window.addEventListener('load', startup, false);
    })();
</script>












<!-- //OLD UI -->



<!-- <div class="contact-section section-padding" id="section_5" style="background-color: #57ba98;">
    <div style="max-width: auto; margin: auto; margin-top: 80px;">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Scan</h1>
        <div class="col-lg-6 mx-auto">
            <div class="contentarea">
                <div class="Input">

                    <form method="POST" name="inputForm" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div id="camera" class="camera">
                            <video id="video">Video stream not available.</video>
                            <button id="startbutton" type="button">Take photo</button>
                            <input id="webimg" value="" name="src" type="text" style="display: none;">
                            <canvas id="canvas">
                            </canvas>
                        </div>
                        <br>
                        <div>
                            <img id="photo" alt="your image">
                        </div>
                        <br>
                        <button type="submit" class="button" id="submit">Submit</button>
                    </form>
                </div>
            </div>

            <h3>Class: {{ prediction }}</h3>
            <p>probability: {{ probability }}</p>
            <div class="status">
              <h3 id="message">{{ message }}</h3>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>
                
<script>
  (function() {
  // The width and height of the captured photo. We will set the
  // width to the value defined here, but the height will be
  // calculated based on the aspect ratio of the input stream.

  var width = 320;    // We will scale the photo width to this
  var height = 0;     // This will be computed based on the input stream

  // |streaming| indicates whether or not we're currently streaming
  // video from the camera. Obviously, we start at false.

  var streaming = false;

  // The various HTML elements we need to configure or control. These
  // will be set by the startup() function.

  var video = null;
  var canvas = null;
  var photo = null;
  var formsrc = null;
  var startbutton = null;

  function startup() {
    video = document.getElementById('video');
    canvas = document.getElementById('canvas');
    photo = document.getElementById('photo');
    formsrc = document.getElementById('webimg');
    startbutton = document.getElementById('startbutton');

    navigator.mediaDevices.getUserMedia({video: true, audio: false})
    .then(function(stream) {
      video.srcObject = stream;
      video.play();
    })
    .catch(function(err) {
      console.log("An error occurred: " + err);
    });

    video.addEventListener('canplay', function(ev){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);

        // Firefox currently has a bug where the height can't be read from
        // the video, so we will make assumptions if this happens.

        if (isNaN(height)) {
          height = width / (4/3);
        }

        video.setAttribute('width', width);
        video.setAttribute('height', height);
        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);
        streaming = true;
      }
    }, false);

    startbutton.addEventListener('click', function(ev){
      takepicture();
      ev.preventDefault();
    }, false);

    clearphoto();
  }

  // Fill the photo with an indication that none has been
  // captured.

  function clearphoto() {
    var context = canvas.getContext('2d');
    context.fillStyle = "#AAA";
    context.fillRect(0, 0, canvas.width, canvas.height);

    var data = canvas.toDataURL('image/png');
    photo.setAttribute('src', data);
  }

  // Capture a photo by fetching the current contents of the video
  // and drawing it into a canvas, then converting that to a PNG
  // format data URL. By drawing it on an offscreen canvas and then
  // drawing that to the screen, we can change its size and/or apply
  // other changes before drawing it.

  function takepicture() {
    var context = canvas.getContext('2d');
    if (width && height) {
      canvas.width = width;
      canvas.height = height;
      context.drawImage(video, 0, 0, width, height);

      var data = canvas.toDataURL('image/png');
      photo.setAttribute('src', data);
      formsrc.setAttribute('value', data);
    } else {
      clearphoto();
    }
  }

  // Set up our event listener to run the startup process
  // once loading is complete.
  window.addEventListener('load', startup, false);
})();
</script>

<style>
    #video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
}
</style> -->
{% endblock %}
