<!doctype html>
{% load static %}
{% load custom_filters %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>CuraHerb Website</title>

        <link href="/static/image/logo.png" rel="icon">
        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/css/vegas.min.css" rel="stylesheet">

        <link href="/static/css/tooplate-barista.css" rel="stylesheet">

        <link href="/static/css/search.css" rel="stylesheet">

        <link href="/static/css/nav.css" rel="stylesheet">

        <link href="/static/css/herb-modal-content.css" rel="stylesheet">
        
        <link href="/static/css/reviews.css" rel="stylesheet">

      <style>
        p {
          color: #042807;
        }
      </style>

    </head>
    
    <body>
        
            <main>

              {% include 'core/nav.html' %}



<section class="barista-section section-padding section-bg" id="barista-team" style="padding-top: 200px; position: relative; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(	59, 148, 94, 1)), url(''); " >
  <!-- <div class="section-overlay"></div> -->
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <em class="text-white">Department of Health (DOH) Approved</em>

                                <h2 class="text-white">Herbal Plants</h2>
                            </div>
                                  {% if messages %}
                                  {% for message in messages %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                  {% endfor %}
                                  {% endif %}
                            {% for herb in herbs %}
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                              <div class="modal fade" id="exampleModal{{herb.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{herb.id}}" aria-hidden="true">
                                      <div class="modal-dialog modal-fullscreen">
                                        <div class="modal-content" style="background-color: #57ba98;">
                                          <div class="modal-header">
                                            <!-- <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #f2f2f2;">{{herb.name}}</h1> -->
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                              </svg> -->
                                            </button>
                                          </div>
                                          <div class="modal-body">

                                        <main class="container">
                                            <div id="carouselExampleIndicators" class="carousel slide">
                                              <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                              </div>
                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img src="{{herb.image.url}}" class="d-block w-100 img-fluid" style="max-height: 450px; object-fit: none;">
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="{{herb.image.url}}" class="d-block w-100 img-fluid" style="max-height: 450px; object-fit: none;">
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="{{herb.image.url}}" class="d-block w-100 img-fluid" style="max-height: 450px; object-fit: none;">
                                                </div>
                                              </div>
                                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                              </button>
                                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                              </button>
                                            </div>

                                            <main id="content" class="main-area" style="color: #042807;">
                                              <section class="splash grid">
                                                <!-- <div class="splash-content">
                                                  <h2 class="content-title"></h2>
                                                  <div class="splash-text">
                                                    <p></p>
                                                  </div>
                                                </div> -->
                                              </section>

                                          <div class="row mb-2">
                                            <div class="col-md-6">
                                              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: #65ccb8 ;">
                                                <div class="col p-4 d-flex flex-column position-static">
                                                {% if suggested_similarities%}
                                                {% with similar_herb_names=suggested_similarities|get_value:herb.name %}
                                                  {% if similar_herb_names %}
                                                    {% with similar_herb_name=similar_herb_names|random %}
                                                      {% for similar_herb in herbs %}
                                                        {% if similar_herb.name == similar_herb_name %}
                                                          <strong class="d-inline-block mb-2 text-primary-emphasis">Similar Property</strong>
                                                          <h3 class="mb-0">{{ similar_herb.name }}</h3>
                                                          <div class="mb-1 text-body-secondary">{{ similar_herb.scientific_name }}</div>
                                                          <p class="card-text mb-auto">{{ similar_herb.description|truncatechars:90 }}</p>
                                                          <a href="content" data-bs-toggle="modal" data-bs-target="#exampleModal{{similar_herb.id}}" class="icon-link gap-1 icon-link-hover stretched-link">
                                                            Continue reading
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                            </svg>
                                                          </a>
                                                          {% endif %}
                                                        {% endfor %}
                                                    {% endwith %}
                                                  {% endif %}
                                                {% endwith %}
                                                {% endif %}
                                                </div>
                                                <div class="col-auto d-none d-lg-block">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: #65ccb8 ;">
                                                <div class="col p-4 d-flex flex-column position-static">
                                                  {% if random_herb%}
                                                  {% with random_herb_name=random_herb.name %}
                                                  {% if random_herb_name %}
                                                    <strong class="d-inline-block mb-2 text-primary-emphasis">Discover Different Herb</strong>
                                                    <h3 class="mb-0">{{ random_herb_name }}</h3>
                                                    <div class="mb-1 text-body-secondary">{{ random_herb.scientific_name }}</div>
                                                    <p class="card-text mb-auto">{{ random_herb.description|truncatechars:90 }}</p>
                                                    <a href="content" data-bs-toggle="modal" data-bs-target="#exampleModal{{random_herb.id}}" class="icon-link gap-1 icon-link-hover stretched-link">
                                                      Continue reading
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                      </svg>
                                                    </a>
                                                  {% endif %}
                                                {% endwith %}
                                                {% endif %}
                                                </div>
                                                <div class="col-auto d-none d-lg-block">
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row g-5">
                                            <div class="col-md-8">
                                              <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                                {{herb.name}}
                                              </h3>

                                              <article class="blog-post">
                                                <h2 class="display-5 link-body-emphasis mb-1">{{herb.scientific_name}}</h2>
                                                <!-- <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p> -->

                                                <p>{{ herb.description }}</p>
                                                <hr>
                                                <p></p>
                                                <!-- <h2>Medicinal Property</h2>
                                                <p></p> -->
                                                <blockquote class="blockquote">
                                                  <!-- <p>Quoted text goes here.</p> -->
                                                </blockquote>
                                                <!-- <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p> -->
                                                <!-- <h3>Medicinal Use</h3>
                                                <p>{{herb.med_use}}</p> -->
                                                <ul>
                                                  <!-- <li>First list item</li>
                                                  <li>Second list item with a longer description</li>
                                                  <li>Third list item to close it out</li> -->
                                                </ul>
                                                <!-- <p>And this is an ordered list:</p>
                                                <ol>
                                                  <li>First list item</li>
                                                  <li>Second list item with a longer description</li>
                                                  <li>Third list item to close it out</li>
                                                </ol>
                                                <p>And this is a definition list:</p> -->
                                                <dl>
                                                  <h3>Medicinal Property</h3>
                                                  <p>{{herb.med_property}}</p>
                                                  <h3>Medicinal Use</h3>
                                                  <p>{{herb.med_use}}</p>
                                                  <h3>Habitat</h3>
                                                  <p>{{herb.habitat}}</p>
                                                </dl>
                                                <h2>Potential Side Effects/Allergic reaction</h2>
                                                <p>{{herb.potential_SE}}</p>
                                                <ul>
                                                  <!-- <li><strong>To bold text</strong>, use <code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
                                                  <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>
                                                  <li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr> should use <code class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.</li>
                                                  <li>Citations, like <cite>— Mark Otto</cite>, should use <code class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>
                                                  <li><del>Deleted</del> text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and <ins>inserted</ins> text should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>
                                                  <li>Superscript <sup>text</sup> uses <code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code> and subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.</li> -->
                                                </ul>
                                                <!-- <p>Most of these elements are styled by browsers with few modifications on our part.</p>
                                                <h2>Heading</h2>
                                                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                                                <h3>Sub-heading</h3>
                                                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                                                <pre><code>Example code block</code></pre>
                                                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p> -->
                                              </article>

                                              <hr>

                                              <article class="blog-post">
                                                <h2 class="display-5 link-body-emphasis mb-1">Testimonials</h2>
                                              <div class="scrollareacom">
                                              {% for comment in comments %}
                                              {% if comment.herb.id == herb.id %}
                                              <div class="testimonial-box-container">
                                                <!--BOX 1-->
                                                <div class="testimonial-box">
                                                    <!--Top-->
                                                    <div class="box-top">
                                                    <!--profile-->
                                                    <div class="profile">
                                                        <!-- <div class="profile-img">
                                                            <img src="images/botanical-icon (1).png"/>
                                                        </div> -->
                                                        <!--name n username-->
                                                        <div class="name-user">
                                                            <span style="font-size: 8px;">{{comment.time}}</span>
                                                            <strong>{{comment.name}}</strong>
                                                            <span>{{comment.name.email}}</span>
                                                        </div>
                                                    </div>

                                                    <!--reviews-->
                                                    <div class="reviews">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>

                                                <!--comments-->
                                                <div class="client-comment">
                                                    <p style="margin: 0;">{{comment.comment}}</p>
                                                    <a onclick="return confirm('WARNING!! Press OK to continue DELETING')" href="{% url 'deletetestimony' comment.id %}" class="float-end"><button type="submit" class="btn btn-danger btn-sm" style="font-size: 12px;">Delete</button></a>  
                                                </div>
                                                
                                              </div>
                                              {% endif %}
                                              {% endfor %}
                                              </div>      
                                                <!-- <p class additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p> -->
                                              </article>
                                              <form method="post">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                  <p class="text-dark"> </p>
                                                    <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                                                    <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                    <input type="hidden" name="herb" value="{{ herb.id }}">
                                                    <button type="submit" class="btn btn-outline-success mt-2">Submit</button>
                                                </div>
                                                </form>
                                              

                                            </div>

                                            <div class="col-md-4">
                                              <div class="position-sticky" style="top: 2rem;">
                                                <div class="p-4 mb-3 bg-body-tertiary rounded">
                                                  <h4 class="fst-italic">Medical Conditions</h4>
                                                  <p class="mb-0">Individuals with pre-existing health conditions should consult a healthcare professional before incorporating herbs into their routine.</p>
                                                </div>

                                                <div>
                                                  <h4 class="fst-italic">Recently Uploaded</h4>
                                                  <ul class="list-unstyled">
                                                    {% for recent in herbs|slice:":3" %}
                                                    <li>
                                                      <a data-bs-toggle="modal" data-bs-target="#exampleModal{{recent.id}}" class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="content" >
                                                        <img src="{{recent.image.url}}" width="100%" height="96">
                                                        <div class="col-lg-8">
                                                          <h6 class="mb-0">{{recent.name}}</h6>
                                                          <small class="text-body-secondary">{{herb.timestamp}}</small>
                                                        </div>
                                                      </a>
                                                    </li>
                                                    {% endfor %}
                                                
                                                  </ul>
                                                </div>

                                                
                                                <div class="p-4">
                                                  <h4 class="fst-italic">Reference</h4>
                                                  <ol class="list-unstyled mb-0">
                                                    <li><a href="https://businessdiary.com.ph/466/10-philippine-herbal-medicines-approved-by-doh/" target="_blank">businessdiary.com.ph</a></li>
                                                    <li><a href="https://www.rnpedia.com/nursing-notes/community-health-nursing-notes/herbal-medicine-plants-approved-doh/" target="_blank">www.rnpedia.com</a></li>
                                                    <li><a href="http://www.medicalhealthguide.com/articles" target="_blank">medicalhealthguide</a></li>
                                                  </ol>
                                                </div>
                                                <div class="p-4">
                                                  <h4 class="fst-italic">Tools</h4>
                                                  <ol class="list-unstyled">
                                                    <li><a href="{% url 'recognition' %}">Herb Classification</a></li>
                                                    <li><a href="{% url 'herbal-map' %}">Interactive Map</a></li>
                                                  </ol>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </main>                                         

                                            <!-- <p style="color: #f2f2f2;">
                                            {{herb.description}}
                                            </p> -->
                                          </div>
                                          <div class="modal-footer">
                                            {% if herb.id in favorite_herbs %}
                                            <a href="{% url 'toggle_favorite' herb.id %}" type="button" class="btn btn-danger toggle-favorite">
                                              Remove from Favorite
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heartbreak" viewBox="0 0 16 16">
                                              <path d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38.094 38.094 0 0 0 .867-.59Zm-.303-1.01-.971-3.237 1.74-2.608a1 1 0 0 0 .103-.906l-1.3-3.468 1.45-1.813c1.861-.948 4.446.002 5.197 2.11.691 1.94-.055 5.521-6.219 9.922Zm-1.25 1.137a36.027 36.027 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3 1.815 4.537Zm-2.3-3.06-.442-1.106a1 1 0 0 1 .034-.818l1.305-2.61L4.564 3.35a1 1 0 0 1 .168-.991l1.032-1.24c-1.688-.449-3.7.398-4.456 2.128-.711 1.627-.413 4.55 3.706 8.229Z"/>
                                            </svg>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'toggle_favorite' herb.id %}" type="button" class="btn btn-info toggle-favorite">
                                              Add to Favorite
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                            </a>
                                            {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                <div class="team-block-wrap" data-bs-toggle="modal" data-bs-target="#exampleModal{{herb.id}}">
                                          <!-- Modal -->
                                    
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">{{herb.name}}</h4>

                                            <p class="badge ms-4"><em>Cassia alata</em></p>
                                        </div>

                                        <p class="text-white mb-0">{{herb.description|slice:'80'}}</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                      {% if herb.image %}
                                        <img src="{{ herb.image.url }}" class="team-block-image img-fluid" alt="">
                                      {% else %}
                                        <img src="" class="team-block-image img-fluid" alt="">
                                      {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                            

                        </div>
                    </div>
                </section>
        {% include 'core/footer.html' %}
            
            </main> 

        <!-- JAVASCRIPT FILES -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/click-scroll.js"></script>
        <script src="/static/js/vegas.min.js"></script>
        <script src="/static/js/custom.js"></script>

    </body>
</html>

