{% extends 'registration/auth_base.html' %}
{% load custom_filters %}
{% block content %}
<div class="hero" style="min-height: 500px;">
  <div class="container my-5">
    <div class="i-am-centered" style="max-width: 600px; margin: auto; margin-top: 300px;">
      <h2>Reset Password</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {% if field.widget.input_type == 'checkbox' %}
            <div class="form-group form-check">
              {{ field }}
              <label autocomplete="off" class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
          {% else %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:"form-control" }}
            </div>
          {% endif %}
        {% endfor %}
        <button type="submit">Proceed</button>
      </form>
    </div>
  </div>
</div>

  <style>
    .form-group {
        margin-bottom: 10px;
    }
    label {
        font-weight: bold;
    }
    input[type="text"], input[type="file"] {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
    }
</style>
{% endblock %}



<header class="masthead">
                                              <!-- <div class="logo" style="color: #f2f2f2;">{{herb.name|title}}</div> -->
                                              <img class="modal-content mb-1" src="{{herb.image.url}}" alt="" style="max-width: 100%; max-height: 450px; object-fit: cover;">
                                            </header><!-- .masthead -->

                                            <main id="content" class="main-area">
                                              <section class="splash grid">
                                                <div class="splash-content">
                                                  <h2 class="content-title" style="color: #f2f2f2;">{{herb.name}}/{{herb.scientific_name}}</h2>
                                                  <div class="splash-text">
                                                    <p style="color: #f2f2f2;">{{ herb.description }}</p>
                                                  </div><!-- .splash-text -->
                                                </div><!-- .splash-content -->
                                              </section><!-- .splash -->

                                              <section class="buckets grid">
                                                <ul>
                                                  <li>
                                                    <!-- <img class="modal-herb" src="https://source.unsplash.com/KUfkX6gVwBU/600x400" alt=""> -->
                                                    <div class="bucket">
                                                      <h3 class="bucket-title" style="color: #f2f2f2;">Herbal Property</h3>
                                                      <div class="scrollable-content" style="max-height: 400px; overflow-y: auto;">
                                                      <p style="color: #f2f2f2;">{{herb.med_property}}</p>
                                                      </div>
                                                    </div><!-- .bucket -->
                                                  </li>
                                                  <li>
                                                    <!-- <img class="modal-herb" src="https://source.unsplash.com/w3lQVmuK8fw/600x400" alt=""> -->
                                                    <div class="bucket">
                                                      <h3 class="bucket-title" style="color: #f2f2f2;">Medicinal Use</h3>
                                                      <div class="scrollable-content" style="max-height: 400px; overflow-y: auto;">
                                                      <p style="color: #f2f2f2;">{{herb.med_use}}</p>
                                                      </div>
                                                    </div><!-- .bucket -->
                                                  </li>
                                                  <li>
                                                    <!-- <img class="modal-herb" src="https://source.unsplash.com/1jKjJjGgDG8/600x400" alt=""> -->
                                                    <div class="bucket">
                                                      <h3 class="bucket-title" style="color: #f2f2f2;">Habitat</h3>
                                                      <div class="scrollable-content" style="max-height: 400px; overflow-y: auto;">
                                                      <p style="color: #f2f2f2;">{{herb.habitat}}</p>
                                                      </div>
                                                      
                                                    </div><!-- .bucket -->
                                                  </li>
                                                </ul>
                                              </section><!-- .buckets -->

                                              <section class="more grid">
                                                <div class="more-content">
                                                  <h2 class="content-title" style="color: #f2f2f2;">Potential Side effects</h2>
                                                  <p style="color: #f2f2f2;">{{herb.potential_SE}}<p>
                                                </div><!-- .more-content -->
                                              </section>

                                              <!-- <section class="twins grid">
                                                <div class="twin">
                                                  <h2 class="content-title modal-herb">Grid lets you do unusual things</h2>
                                                  <p class="modal-herb">Creating this layout, where two items share the total available viewport width evenly alongside full-width and centered content, is suprisingly complex if you don't have CSS Grid available.</p>
                                                </div>
                                                <div class="twin">
                                                  <h2 class="content-title modal-herb">Grid requires a rethink</h2>
                                                  <p class="modal-herb">Seeing this layout you may still think it's better to just use old methods with auto-margins and max-widths. And you <em>can</em>, but looking at the CSS you'll see the Grid approach is both cleaner and easier to understand.</p>
                                                </div>
                                              </section>.twins -->
                                            </main>