{% extends 'core/base.html' %}
{% load static %}
{% block content %}
                <section class="contact-section section-padding" id="section_5" style="background-color: #57ba98;">
                      <div style="max-width: auto; margin: auto; margin-top: 80px;">
                      <div class="px-4 py-5 my-5">
                          <div class="col-lg-6 mx-auto">
                          <div class=" text-center">
                            <form method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <input
                                class="custom-file-upload custom-btn btn-15"
                                type="file"
                                accept="image"
                                name="image"
                                id="file"
                              />
                              <button class="compress_image custom-btn btn-2 mt-2 ms-4" type="submit" id="submitBtn">
                                Predict
                              </button>
                              <div class="status">
                                <p id="message">{{ message }}</p>
                              </div>
                            </form>
                            
                            <div class="wrapper">
                              <img
                                src="{% if image_url %}{{ image_url }}{% else %}{% static '' %}{% endif %}"
                                style="max-width: 400px; margin: 20px;"
                              />
                              </div>
                              <div class="info_container">
                                <div class="team-block-wrap" style="background-color: rgba(0, 0, 0, 0); max-height:400px; border-radius: 0%; text-align: justify;">  
                                <table class="table team-block-info">
                                  <thead>
                                    <th scope="col" class="text-light">Labels</th>
                                    <th scope="col" class="text-light">Output</th>
                                    <th scope="col"></th>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row" class="text-light">Image name: </th>
                                      <td colspan="2" class="text-light">{{image.name}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="text-light">Prediction: </th>
                                      {% if probability >= 0.60 %}
                                      <td colspan="2" class="text-light">{{prediction}}</td>
                                      {% elif probability >= 0.40 %}
                                      <td colspan="2" class="text-light">Probable {{prediction}}</td>
                                      {% elif probability %}
                                      <td colspan="2" class="text-light">Unknown</td>
                                      {% else %}
                                      <td colspan="2"></td>
                                      {% endif %}
                                    </tr>
                                    <tr>
                                      <th scope="row" class="text-light">Probability: </th>
                                      
                                      <td colspan="2" class="text-light">
                                        {% for class_name, probability in class_probabilities %}
                                            {{ class_name }}: {{ probability }}<br>
                                        {% endfor %}
                                      </td>
                                      
                                    </tr>
                                    <tr>
                                      <th colspan="3" scope="row" class="text-light" style="text-align: center;">
                                        <form method="get" action="{% url 'search' %}" autocomplete="off">
                                            <input name="query" type="text" placeholder="Find Your Herb {{ prediction }}" value="{{ prediction }}" style="display: none;">
                                            <button type="submit" class="btn btn-outline-success">See More </button>
                                        </form>
                                      </th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </section>
<style>
  
  .btn-2 {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgb(13, 240, 9)0%, rgb(5, 240, 115) 100%);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* 15 */
.btn-15 {
  background: #65ccb8;
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(5, 240, 115);
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
@media (max-width: 426px) {
  input{
    max-width: 290px;
  }
}

.ul-color{
  color: #f2f2f2;
  list-style-type: none;
}

#message{
  color: #f2f2f2;
}
</style>
{% endblock %}