{% extends 'core/base.html' %}
{% load static %}
{% block content %}
                <section class="contact-section section-padding" id="section_5" style="background-color: #57ba98;">
                      <div style="max-width: auto; margin: auto; margin-top: 80px;">
                      <div class="px-4 py-5 my-5 text-center">
                          <div class="col-lg-6 mx-auto">
                            <form method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <input
                                class="custom-file-upload"
                                type="file"
                                accept="image"
                                name="image"
                                id="file"
                              />
                              <button class="compress_image" type="submit" id="submitBtn">
                                Predict
                              </button>
                              <div class="status">
                                <p id="message">{{ message }}</p>
                              </div>
                            </form>

                            <div class="wrapper">
                              <img
                                src="{% if image_url %}{{ image_url }}{% else %}{% static 'images/default.png' %}{% endif %}"
                                alt="Compressed Image"
                                width="400px"
                              />

                              <div class="info_container">
                                <ul class="ul-color">
                                  <li class="ul-color">Name: <span class="name">{{ image.name }}</span></li>
                                  <li class="ul-color">Prediction: <span class="type">{{ prediction }}</span></li>
                                </ul>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </section>
<style>
@media (max-width: 426px) {
  input{
    max-width: 290px;
  }
}

.ul-color{
  color: #f2f2f2;
  list-style-type: none;
}

#message{
  color: #f2f2f2;
}
</style>
{% endblock %}