{% extends 'core/base.html' %}
{% load static %}
{% block content%}
                <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-6 col-12 mx-auto">
                                <em class="small-text">Welcome to CuraHerb</em>
                                
                                <h1>Cura Herb</h1>

                                <p class="text-white mb-4 pb-lg-2">
                                    your <em>herbal</em> assistant.
                                </p>

                                <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_2">
                                   More
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                </svg>                               
                                </a>

                                <a class="btn custom-btn smoothscroll me-2 mb-2" href="#section_3"><strong>Recommendations</strong></a>
                            </div>

                        </div>
                    </div>

                    <div class="hero-slides"></div>
                </section>


                <section class="about-section section-padding" id="section_2">
                    <!-- <div class="section-overlay"></div> -->
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-6 col-12">
                                <div class="ratio ratio-1x1">
                                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                                        <source src="/static/videos/[0] herbal plants species, forest, aloe vera, 4k [30] herbal plants species growing flowers bloom … • AI Animation Generator on Gooey.AI.mp4" type="video/mp4">

                                        Your browser does not support the video tag.
                                    </video>

                                    <div class="about-video-info d-flex flex-column">
                                        <h4 class="mt-auto">Curaherb Project 2023</h4>

                                        <h4>Come And Try it</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-12 mt-4 mt-lg-0 mx-auto">
                                <em class="text-white">CuraHerb</em>

                                <h2 class="text-white mb-3">Integrated Image Classification</h2>

                                <p class="text-white">With the use of Machine Learning Algorithms find out what kind of herb that you have</p>

                                <p class="text-white">This Integrated Feature is only trained on a limited amount of dataset.</p>
<!-- <a rel="nofollow" href="{% url 'image-search' %}" target="_blank">Image Search</a> -->
                                <a href="{% url 'image-search' %}" class="smoothscroll btn custom-btn custom-border-btn mt-3 mb-4">See More</a>
                            </div>

                        </div>
                    </div>
                </section>


                <section class="barista-section section-padding section-bg" id="barista-team" style="position: relative;">
                    <!-- <div class="section-overlay"></div> -->
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <em class="text-white">Department of Health (DOH) Approved</em>

                                <h2 class="text-white">Herbal Medicines</h2>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Akapulko</h4>

                                            <p class="badge ms-4"><em>Cassia alata</em></p>
                                        </div>

                                        <p class="text-white mb-0">  this herbal medicine is used to treat ringworms and skin fungal infections.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Ampalaya</h4>

                                            <p class="badge ms-4"><em>Momordica charantia</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it most known as a treatment of diabetes (diabetes mellitus), for the non-insulin dependent patients.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bawang</h4>

                                            <p class="badge ms-4"><em>Allium sativum</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it mainly reduces cholesterol in the blood and hence, helps control blood pressure.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bayabas</h4>

                                            <p class="badge ms-4"><em>Psidium guajava</em></p>
                                        </div>

                                        <p class="text-white mb-0"> to disinfect wounds. Also, it can be used as a mouth wash to treat tooth decay and gum infection.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bawang</h4>

                                            <p class="badge ms-4"><em>Allium sativum</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it mainly reduces cholesterol in the blood and hence, helps control blood pressure.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bawang</h4>

                                            <p class="badge ms-4"><em>Allium sativum</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it mainly reduces cholesterol in the blood and hence, helps control blood pressure.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bawang</h4>

                                            <p class="badge ms-4"><em>Allium sativum</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it mainly reduces cholesterol in the blood and hence, helps control blood pressure.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bawang</h4>

                                            <p class="badge ms-4"><em>Allium sativum</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it mainly reduces cholesterol in the blood and hence, helps control blood pressure.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bawang</h4>

                                            <p class="badge ms-4"><em>Allium sativum</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it mainly reduces cholesterol in the blood and hence, helps control blood pressure.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Bawang</h4>

                                            <p class="badge ms-4"><em>Allium sativum</em></p>
                                        </div>

                                        <p class="text-white mb-0"> it mainly reduces cholesterol in the blood and hence, helps control blood pressure.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="/static/image/akapulko.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <!-- <section class="menu-section section-padding" id="section_3">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <div class="menu-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <em class="text-white">Delicious Menu</em>
                                        <h4 class="text-white">Breakfast</h4>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Pancakes</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$12.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>
                                                Toasted Waffle
                                            </h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="text-white ms-auto"><del>$16.50</del></strong>

                                            <strong class="ms-2">$12.00</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Fried Chips
                                                <span class="badge ms-3">Recommend</span>
                                            </h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$15.0</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>Pancakes</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$12.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Banana Cakes</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$18.0</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="menu-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <em class="text-white">Favourite Menu</em>
                                        <h4 class="text-white">Coffee</h4>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Latte</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="text-white ms-auto"><del>$12.50</del></strong>

                                            <strong class="ms-2">$7.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>
                                                White Coffee
                                                <span class="badge ms-3">Recommend</span>
                                            </h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$5.90</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Chocolate Milk</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$5.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>Greentea</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$7.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Dark Chocolate</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$7.25</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section> -->


                <section class="reviews-section section-padding section-bg" id="section_4">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <em class="text-white">Approved By Experts</em>

                                <h2 class="text-white">Testimonials</h2>
                            </div>

                            <div class="timeline">
                                <div class="timeline-container timeline-container-left">
                                    <div class="timeline-content">
                                        <div class="reviews-block">
                                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                                <img src="/static/image/reviews/blank-profile-picture-973460_960_720.png" class="reviews-block-image img-fluid" alt="">

                                                <div class="">
                                                    <h6 class="text-white mb-0">Expert 1</h6>
                                                    <em class="text-white"> Herbalist/Botanist</em>
                                                </div>
                                            </div>

                                            <div class="reviews-block-info">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                                <div class="d-flex border-top pt-3 mt-4">
                                                    <!-- <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong> -->

                                                    <div class="reviews-group ms-auto">
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-container timeline-container-right">
                                    <div class="timeline-content">
                                        <div class="reviews-block">
                                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                                <img src="/static/image/reviews/blank-profile-picture-973460_960_720.png" class="reviews-block-image img-fluid" alt="">

                                                <div class="">
                                                    <h6 class="text-white mb-0">Expert 2</h6>
                                                    <em class="text-white"> Herbalist/Botanist</em>
                                                </div>
                                            </div>

                                            <div class="reviews-block-info">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                                <div class="d-flex border-top pt-3 mt-4">
                                                    <!-- <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong> -->

                                                    <div class="reviews-group ms-auto">
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-container timeline-container-left">
                                    <div class="timeline-content">
                                        <div class="reviews-block">
                                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                                <img src="/static/image/reviews/blank-profile-picture-973460_960_720.png" class="reviews-block-image img-fluid" alt="">

                                                <div class="">
                                                    <h6 class="text-white mb-0">Expert 3</h6>
                                                    <em class="text-white"> Herbalist/Botanist</em>
                                                </div>
                                            </div>

                                            <div class="reviews-block-info">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                                <div class="d-flex border-top pt-3 mt-4">
                                                    <!-- <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong> -->

                                                    <div class="reviews-group ms-auto">
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                        <i class="bi-star-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <section class="contact-section section-padding" id="section_5">
                    <div class="container">
                        <div class="row">   

                            <div class="col-lg-12 col-12">
                                <em class="text-white">Curaherb</em>
                                <h2 class="text-white mb-4 pb-lg-2">Interactive Herbal Map</h2>
                            </div>

                            <div class="col-lg-6 col-12">

                                <p class="text-white">Integrated Herbal Map find herbs or herbal stores around you</p>

                                <p class="text-white"> Legend <img src="/static/image/legend.png" loading="lazy" style="max-width: 300px; max-height: 300px;"></p>

                                
                                <a href="{% url 'herbal-map' %}" class="smoothscroll btn custom-btn custom-border-btn mt-3 mb-4">See More</a>                               
                            </div>

                            <div class="col-lg-6 col-12 mx-auto mt-5 mt-lg-0 ps-lg-5" id="map-placeholder">
                                <div class="d-flex justify-content-center">Loading Map </div>
                                <div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>
                                    {% if map %}
                                    {% endif %}
                                </div>  
                            </div>

                        </div>
                    </div>
                </section>
<script>
  var mapLoaded = false;

  window.addEventListener("scroll", function () {
    var mapPlaceholder = document.getElementById("map-placeholder");
    var rect = mapPlaceholder.getBoundingClientRect();
    var scrollPosition = window.innerHeight;

    if (rect.top <= scrollPosition && !mapLoaded) {
      // Show the loading icon
      mapPlaceholder.innerHTML = '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>';

      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/map/", true);  // Update the URL to match your Django endpoint URL
      xhr.onload = function () {
        if (xhr.status === 200) {
          var mapHtml = xhr.responseText;
          mapPlaceholder.innerHTML = mapHtml;
          mapLoaded = true;
        }
      };
      xhr.send();

      window.removeEventListener("scroll", arguments.callee);
    }
  });



</script>
{% endblock %}