{% load static%}
<nav class="navbar navbar-expand-lg">                
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
                            <img src="/static/image/ch logo.png" class="navbar-brand-image img-fluid" alt="Barista Cafe Template">
                            CuraHerb
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <div id="wrap">
                                    <form method="get" action="{% url 'search' %}" autocomplete="off">
                                    <input id="search" name="query" type="text" placeholder="Find Your Herb"><input id="search_submit" value="Rechercher" type="submit">
                                    </form>
                                    </div>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'herbs' %}">Herbal Plants</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'image-search' %}">Image Search</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'herbal-map' %}">Herbal Map</a>
                                </li>

                                <li class="nav-item">
                                    <!-- <form action="" class="search-bar">
                                        <input type="search" name="search" pattern=".*\S.*" required>
                                        <button class="search-btn" type="submit">
                                            <span>Search</span>
                                        </button>
                                    </form> -->
                                    <!-- <a class="nav-link " href="{% url 'login_or_register' %}">Log In</a> -->
                                </li>
                            </ul>


                            <div class="ms-lg-3">
                            
                                <!-- <form action="" class="search-bar">
                                    <input type="search" name="search" pattern=".*\S.*" required>
                                    <button class="search-btn" type="submit">
                                        <span>Search</span>
                                    </button>
                                </form> -->
                                <!-- <a class="btn custom-btn custom-border-btn" href="{% url 'login_or_register' %}">
                                    Login
                                    <i class="bi-arrow-up-right ms-2"></i>
                                </a> -->
                            </div>
                            <div class="container2">
                            <!-- Btn-->
                            <button class="btn2"><span>Account</span>
                                <ul class="dropdown">
                                <li class="active"><a href="{% url 'favourite' %}">User Menu</a></li>
                                {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                {% endif %}
                                <li><a href="{% url 'change_password' %}">Change Password</a></li>
                                <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                                {% else %}
                                <li><a href="{% url 'login_or_register' %}">Log In</a></li>
                                {% endif %}
                                </ul>
                            </button>
                            </div>
                        </div>
                    </div>
                </nav>




